
2006/.Rapp.history

2005/SST JULY2005.txt

Age Length/2012_Age_length.csv

Age Length/2012_VonB_boot_boxplot.pdf

Age Length/2011_VonB_boot_boxplot.pdf

Age Length/.Rhistory

*.pdf

*.docx

*.tiff

*.tex

*.jpg

*.png

*.txt

*.nc

*.nc 2

*.xlsx

*.history

Age Length/2013_Age_length.csv

Age Length/example.html

bradmustloveme 4_2_14.R

bradmustloveme.R

Data_exploration.R

data.R

data3_17_14.R

data3_19_14.R

data3_20_14edits.R

inc.rwl

RiverDis_plot.R

WIND DATA/.Rhistory
